@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /*TEXT SIZE*/
  --font-general: "Rubik", sans-serif;
  --txt-preset-1: 24px;
  --txt-preset-2: 16px;
  --txt-preset-3: 13px;

  /*COLORS*/

  --darkBlue: #334253;
  --grayishBlue: #67727e;
  --veryLightGray: #f5f6fa;
  --lightGray: #e9ebf0;
  --white: #ffffff;
  --moderateBlue: #5357b6;
  --lightGrayishBlue: #c5c6ef;
  --softRed: #ed6368;
  --paleRed: #ffb8bb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-general);

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--veryLightGray);

    #content__allInteractiveCommentSection {
      width: 730px;
      height: fit-content;

      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
